# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
*.Rdata


# R data files from past sessions
.Rdata
.Rproj.user
*.Rproj

# compressed/zip files
*.zip
*.BZ2

# to stay local
*.txt
cache*
*.html
